# Session 1 - The Basics

## Table of Contents

* Markdowns
* Operators
* Data
* Data + Operators (where the fun begins)
* Loading Data
* Describing Data

## Markdowns

# This is a level one heading

## This is a level two heading

* This is bulleted list

1. This is numbered list

## Operators

### Simple Operators (Plain Vanilla Aritmethics)

In [1]:
1 + 1

2

In [16]:
2 * 2

4

In [17]:
2 * 2 - 1

3

In [19]:
2 * 2 / 2

2.0

## Logical Operators

We can evaluate logical expressions through logical operators.

In [3]:
1 == 2

False

In [4]:
not 1 == 2

True

In [5]:
1 == 2 or 3 > 2

True

In [6]:
1 == 1 and 4 < 10

True

## Complex Operators (functions)

In [25]:
max(1,5,7,10,100)

100

In [26]:
min(1,5,7,10,100)

1

## Data

We can define specific words to represent data.

In [27]:
number_a = 10
number_b = 8

Then we can apply operators to those words, we will from now call them variables, and obtain results or assign those results to other variables.

In [28]:
number_c = number_a*number_b

In [29]:
number_d = number_a+number_c

In [32]:
number_e = number_d-number_b

There are different kinds of data.
* Numbers
* Lists of numbers
* Characters
* Lists of characters
* and many more

In [37]:
numberList = [number_a,number_b,number_c,number_d,number_e]

In [41]:
char_1 ='J'
char_2 ='o'
char_3 ='h'
char_4 ='n'

In [52]:
name_1 = char_1+char_2+char_3+char_4

In [53]:
name_1

'John'

In [54]:
name_1.find('h')

2

In [55]:
print('Hello ' + name_1)

Hello John

We can build our own operators using data and the existing operators. These type of operators we call functions.

In [57]:
def greet (name):
    gretting = 'Hello '+name +', have a wonderful day'
    return gretting

In [58]:
greet (name_1)

'Hello John, have a wonderful day'

## Loading Data

Data we want to analyze will usually come in an external file on a tabular form.
To load this type of data in our notebook we need to use a library. 
A library is an external collection of different data types and operators that someone built for an specific purpose.
Python has many libraries, the one used for working with data is called Pandas. Pandas is not the only library used for this purpose but it is the most popular and arguible the best.

To be able to use a library, first of all we need to import the library to our notebook.

In [165]:
import pandas as pd

once the library is imported we have access to all the data structures and functions that it includes

In [63]:
orders = pd.read_csv('DataSources/01-OrderData.csv')

In [166]:
orders

,ClientID,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,Date,STATUS,QTR_ID,MONTH_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,BKG0098,10100,30,100.00,3,5151.00,2017-01-06,Shipped,1,1,Vintage Cars,170,S18_1749,Young,Valarie,Medium
1,BKG0098,10100,50,67.80,2,3390.00,2017-01-06,Shipped,1,1,Vintage Cars,60,S18_2248,Young,Valarie,Medium
2,BKG0098,10100,22,86.51,4,1903.22,2017-01-06,Shipped,1,1,Vintage Cars,92,S18_4409,Young,Valarie,Small
3,BKG0098,10100,49,34.47,1,1689.03,2017-01-06,Shipped,1,1,Vintage Cars,41,S24_3969,Young,Valarie,Small
4,4KE0971,10101,25,100.00,4,3782.00,2017-01-09,Shipped,1,1,Vintage Cars,127,S18_2325,Keitel,Roland,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,0OK0410,10425,41,86.68,11,3553.88,2019-05-31,In Process,2,5,Trucks and Buses,96,S32_1268,Labrune,Janine,Medium
2819,0OK0410,10425,11,43.83,6,482.13,2019-05-31,In Process,2,5,Trucks and Buses,54,S32_2509,Labrune,Janine,Small
2820,9LK0743,10424,44,61.41,2,2702.04,2019-05-31,In Process,2,5,Trucks and Buses,64,S32_3522,Freyre,Diego,Small
2821,0OK0410,10425,18,100.00,2,1895.94,2019-05-31,In Process,2,5,Trucks and Buses,115,S50_1392,Labrune,Janine,Small
2822,9LK0743,10424,46,80.92,1,3722.32,2019-05-31,In Process,2,5,Classic Cars,101,S700_2824,Freyre,Diego,Medium

### And this is Excel in steroids

#### Here we can
* Reference data (This session)
* Operate with data (This session)
* Filter data (Next Session)
* Aggregate data (Next Session)
* All with a single command. We can enve perfom the three operations at a time with a single command

In [167]:
orders.head()

,ClientID,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,Date,STATUS,QTR_ID,MONTH_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,BKG0098,10100,30,100.00,3,5151.00,2017-01-06,Shipped,1,1,Vintage Cars,170,S18_1749,Young,Valarie,Medium
1,BKG0098,10100,50,67.80,2,3390.00,2017-01-06,Shipped,1,1,Vintage Cars,60,S18_2248,Young,Valarie,Medium
2,BKG0098,10100,22,86.51,4,1903.22,2017-01-06,Shipped,1,1,Vintage Cars,92,S18_4409,Young,Valarie,Small
3,BKG0098,10100,49,34.47,1,1689.03,2017-01-06,Shipped,1,1,Vintage Cars,41,S24_3969,Young,Valarie,Small
4,4KE0971,10101,25,100.00,4,3782.00,2017-01-09,Shipped,1,1,Vintage Cars,127,S18_2325,Keitel,Roland,Medium

In [168]:
orders.tail()

,ClientID,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,Date,STATUS,QTR_ID,MONTH_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2818,0OK0410,10425,41,86.68,11,3553.88,2019-05-31,In Process,2,5,Trucks and Buses,96,S32_1268,Labrune,Janine,Medium
2819,0OK0410,10425,11,43.83,6,482.13,2019-05-31,In Process,2,5,Trucks and Buses,54,S32_2509,Labrune,Janine,Small
2820,9LK0743,10424,44,61.41,2,2702.04,2019-05-31,In Process,2,5,Trucks and Buses,64,S32_3522,Freyre,Diego,Small
2821,0OK0410,10425,18,100.00,2,1895.94,2019-05-31,In Process,2,5,Trucks and Buses,115,S50_1392,Labrune,Janine,Small
2822,9LK0743,10424,46,80.92,1,3722.32,2019-05-31,In Process,2,5,Classic Cars,101,S700_2824,Freyre,Diego,Medium